# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\IJSE\GDSE55\2 sem\Internet Technologies\Course Works\RWAD_Assignment_10_Bootstrap_POS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
